<div class="section flex  center">
    <div class="leftBloc Wrapper">
        <h1>
            Submit your
            <app-typer [words]="words"></app-typer> to get qualified leads
        </h1>
        <div class=" features ">
            <div class="itemRoadMapValue active ">
                <strong>Huge community | </strong>100 000+ KYC verified Airdrop Hunters
            </div>
            <div class="itemRoadMapValue active ">
                <strong>No Manual Validation |</strong>We (and our algorithms) do it for you
            </div>
            <div class="itemRoadMapValue active ">
                <strong>Traction | </strong>Engage your community
            </div>
            <div class="itemRoadMapValue active ">
                <strong>Powered by your tokens | </strong>Pay your Airdrop with the token you are listing
            </div>
        </div>

        <div class="spaceHig "></div>
        <div>
            <div class="CTA CTA1 ">
                List your project
            </div>
        </div>

    </div>



    <div class="imageSection dashboard ">
        <img src="assets/images/Boost.svg " alt=" " class="floating">
    </div>
</div>

<div class="section connect">
    <div> <strong>QryptoBank</strong> connect you</div>
    <div>
        <img src="assets/images/connects/1.svg" alt="">
        <img src="assets/images/connects/2.svg" alt="">
        <img src="assets/images/connects/3.svg" alt="">
        <img src="assets/images/connects/4.svg" alt="">
        <img src="assets/images/connects/5.svg" alt="">
    </div>
</div>