.form_section.fileUpload {
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    width: 98%;
    transition: 0.5s;
}

.form_section.imported {
    border: 1px solid #2DBAFB;
    color: #2DBAFB;
    background-color: #2dbafb17;
}

.form_section.empty {
    border: 1px dashed #aaa;
    color: #aaa;
}

mat-icon {
    margin-right: 20px;
}