<div class="space white"></div>
<div class="section white flex spaceAround">
    <div class="featureItem">
        <div class="imageContainer">
            <img src="assets/images/features/blockchain.svg" alt="">
        </div>
        <p>Easy access to Decentralize <br> Finance (DeFi)</p>
    </div>
    <div class="featureItem">
        <div class="imageContainer">
            <img src="assets/images/features/community.svg" alt="">
        </div>
        <p>Huge Community</p>
    </div>
    <div class="featureItem">
        <div class="imageContainer">
            <img src="assets/images/features/qrb.svg" alt="">
        </div>
        <p class="flag">The best of banking environment <br> Regulated in Switzerland</p>
    </div>
</div>
<div class="space white"> </div>
<div class="space"></div>
<div class="section flex center column">
    <h2 class="fan"><strong>Happy to be your first fan !</strong> </h2>
    <p>We trust in your project, power your Airdrop/ICO with your tokens</p>
    <div class="CTA CTA2">
        List your project
    </div>
</div>