<div class="space white"></div>
<div class="section white center flex ">
    <div class="itemVerifyIco">
        <img src="assets/images/fiatPayment.svg" alt="">
        <div class="spaceHeigh"></div>
        <h2> <strong>We verify your Airdrop Answers automatically</strong></h2>
        <p>your tokens and NFT have value! they deserve that our algorithms and supports carefully check the proper regularity of the actions carried out</p>
    </div>
    <div class="spaceWidth"></div>
    <div class="itemVerifyIco">
        <img src="assets/images/verify.svg" alt="">
        <div class="spaceHeigh"></div>
        <h2><strong>Grow your ICO with FIAT payment</strong> </h2>
        <p>our rules allow you to receive FIAT payments on your behalf and send your investors their tokens</p>
    </div>
</div>
<div class="section flex center jc-center white">
    <div class="CTA CTA1 ">
        List your project
    </div>
</div>
<div class="space white"></div>