.itemVerifyIco {
    padding: 16px 64px;
    border: 1px solid rgb(170 170 170 / 38%);
    border-radius: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.itemVerifyIco img {
    width: 15vw;
}

.spaceWidth {
    width: 45px;
}

.spaceHeigh {
    height: 15px;
}