<div>
    <div class="CTA CTA1 ">
        Create my Airdrop for free
    </div>
</div>

<div class="airdropCreationWrapper">
    <div class="wrapperContent">
        <div class="airdropHeader">
            <div class="titleAndLogo">
                <img src="assets/images/qIcon.png" alt="">
                <h2>Creation du <strong>AirDrop</strong> </h2>
            </div>
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="lazyLoader" [class.lazyLoadActive]="lazyLoadActive">
        </div>
        <!-- <mat-divider></mat-divider> -->
        <div class="airDropQuestionArea" [ngClass]="setClasses()">

            <div class="questionItem" *ngIf="currentQuestion == 1">
                <div class="questionNumber">Question {{currentQuestion}}/{{totalQuestions}}</div>
                <div class="questionTitle">What is the name of your Airdrop ?</div>
                <br>
                <mat-form-field appearance="outline" [class.error_field]="true">
                    <mat-label>AirDrop Name</mat-label>
                    <input matInput [(ngModel)]="airDropData.name" />
                </mat-form-field>
                <app-error-message [message]="'Email Invalide'" [error_active]="false">
                </app-error-message>
            </div>
            <div class="questionItem" *ngIf="currentQuestion == 2">
                <div class="questionNumber">Question {{currentQuestion}}/{{totalQuestions}}</div>
                <div class="questionTitle">What is the URL of your website?</div>
                <br>
                <mat-form-field appearance="outline" [class.error_field]="false">
                    <mat-label>Website URL</mat-label>
                    <input matInput [(ngModel)]="airDropData.name" />
                </mat-form-field>
                <app-error-message [message]="'Email Invalide'" [error_active]="false">
                </app-error-message>
            </div>
            <div class="questionItem" *ngIf="currentQuestion == 3">
                <div class="questionNumber">Question {{currentQuestion}}/{{totalQuestions}}</div>
                <div class="questionTitle">What is the URL of the page presenting your airdrop?</div>
                <br>
                <mat-form-field appearance="outline" [class.error_field]="false">
                    <mat-label>URL of the page</mat-label>
                    <input matInput [(ngModel)]="airDropData.name" />
                </mat-form-field>
                <app-error-message [message]="'Email Invalide'" [error_active]="false">
                </app-error-message>
            </div>
            <div class="questionItem" *ngIf="currentQuestion == 4">
                <div class="questionNumber">Question {{currentQuestion}}/{{totalQuestions}}</div>
                <div class="questionTitle">Do you ask Airdrop Hunters to fill up a KYC ?</div>
                <br>
                <app-checkbox (change)="getAirDropHuntersResponse($event)" [prop]="['Yes','No']"></app-checkbox>
                <app-error-message [message]="'Email Invalide'" [error_active]="false">
                </app-error-message>
            </div>
            <div class="questionItem" *ngIf="currentQuestion == 5">
                <div class="questionNumber">Question {{currentQuestion}}/{{totalQuestions}}</div>
                <div class="questionTitle">Official email address of the Airdrop?</div>
                <br>
                <mat-form-field appearance="outline" [class.error_field]="false">
                    <mat-label>Official Email adress</mat-label>
                    <input matInput [(ngModel)]="airDropData.name" />
                </mat-form-field>
                <app-error-message [message]="'Email Invalide'" [error_active]="false">
                </app-error-message>
            </div>
            <div class="questionItem" *ngIf="currentQuestion == 6">
                <div class="questionNumber">Question {{currentQuestion}}/{{totalQuestions}}</div>
                <div class="questionTitle">What is the total reward per user? (in Tokens)</div>
                <br>
                <mat-form-field appearance="outline" [class.error_field]="false">
                    <mat-label>Total reward In Tokens</mat-label>
                    <input matInput [(ngModel)]="airDropData.name" />
                </mat-form-field>
                <app-error-message [message]="'Email Invalide'" [error_active]="false">
                </app-error-message>
            </div>
            <div class="questionItem" *ngIf="currentQuestion == 7">
                <div class="questionNumber">Question {{currentQuestion}}/{{totalQuestions}}</div>
                <div class="questionTitle">What is the total reward per user? (in USD)</div>
                <br>
                <mat-form-field appearance="outline" [class.error_field]="false">
                    <mat-label>Total reward In Tokens</mat-label>
                    <input matInput [(ngModel)]="airDropData.name" />
                </mat-form-field>
                <app-error-message [message]="'Email Invalide'" [error_active]="false">
                </app-error-message>
            </div>
            <div class="questionItem" *ngIf="currentQuestion == 8">
                <div class="questionNumber">Question {{currentQuestion}}/{{totalQuestions}}</div>
                <div class="questionTitle">Airdrop Start Date</div>
                <br>
                <input type="date" class="dateInput">
                <app-error-message [message]="'Email Invalide'" [error_active]="false">
                </app-error-message>
            </div>
            <div class="questionItem" *ngIf="currentQuestion == 9">
                <div class="questionNumber">Question {{currentQuestion}}/{{totalQuestions}}</div>
                <div class="questionTitle">Airdrop End Date</div>
                <br>
                <input type="date" class="dateInput">
                <app-error-message [message]="'Email Invalide'" [error_active]="false">
                </app-error-message>
            </div>
            <div class="questionItem" *ngIf="currentQuestion == 10">
                <div class="questionNumber">Question {{currentQuestion}}/{{totalQuestions}}</div>
                <div class="questionTitle">List all of your airdrop tasks below, social media tasks + rewards in tokens
                </div>
                <br>
                <app-string-getter></app-string-getter>
                <app-error-message [message]="'Email Invalide'" [error_active]="false">
                </app-error-message>
            </div>
            <div class="questionItem" *ngIf="currentQuestion == 11">
                <div class="questionNumber">Question {{currentQuestion}}/{{totalQuestions}}</div>
                <div class="questionTitle">Do you want to a Quiz to your tasks wall?</div>
                <br>
                <app-checkbox (change)="getAirDropHuntersResponse($event)" [prop]="['Yes','No']"></app-checkbox>
                <app-error-message [message]="'Email Invalide'" [error_active]="false">
                </app-error-message>
            </div>
            <div class="questionItem" *ngIf="currentQuestion == 12">
                <div class="questionNumber">Question {{currentQuestion}}/{{totalQuestions}}</div>
                <div class="questionTitle">List all of your Social Media's URL's
                </div>
                <br>
                <app-string-getter></app-string-getter>
                <app-error-message [message]="'Email Invalide'" [error_active]="false">
                </app-error-message>
            </div>
            <div class="questionItem" *ngIf="currentQuestion == 13">
                <div class="questionNumber">Question {{currentQuestion}}/{{totalQuestions}}</div>
                <div class="questionTitle">Upload your logo
                </div>
                <br>
                <app-image-preview></app-image-preview>
                <app-error-message [message]="'Email Invalide'" [error_active]="false">
                </app-error-message>
            </div>
            <div class="questionItem" *ngIf="currentQuestion == 14">
                <div class="questionNumber">Question {{currentQuestion}}/{{totalQuestions}}</div>
                <div class="questionTitle">Upload your WhitePaper
                </div>
                <br>
                <app-file-upload-component [toolTip]="'Your WhitePaper'" (outputFile)="getWhitePaper($event)"></app-file-upload-component>
                <app-error-message [message]="'Email Invalide'" [error_active]="false">
                </app-error-message>
            </div>
            <div class="questionItem" *ngIf="currentQuestion == 15">
                <div class="questionNumber">Question {{currentQuestion}}/{{totalQuestions}}</div>
                <div class="questionTitle">How would you like your Airdrop to be listed?</div>
                <br>
                <app-checkbox (change)="getAirDropHuntersResponse($event)" [prop]="['Regular Listing','110 USD']"></app-checkbox>
                <app-error-message [message]="'Email Invalide'" [error_active]="false">
                </app-error-message>
            </div>
            <div class="questionItem" *ngIf="currentQuestion == 16">
                <div class="questionNumber">Question {{currentQuestion}}/{{totalQuestions}}</div>
                <div class="questionTitle">On which email address shall we send you the information to finalize your order?</div>
                <br>
                <mat-form-field appearance="outline" [class.error_field]="false">
                    <mat-label> Email adress to finalize</mat-label>
                    <input matInput [(ngModel)]="airDropData.name" />
                </mat-form-field>
                <app-error-message [message]="'Email Invalide'" [error_active]="false">
                </app-error-message>
            </div>
        </div>
        <div class="footerAirdrop">
            <button mat-raised-button *ngIf="currentQuestion > 1" (click)="previous()">Precedent</button>
            <button mat-raised-button color="primary" (click)="transitionNext()">Suivant</button>
        </div>
    </div>
</div>