<div class="space"></div>
<div class="section flex center">

    <div>
        <h2><strong>Preview project</strong></h2>
        <span>AirDrop token | NFT</span>
        <div class="previewContainer">
            <div class="headerPreview">
                <div class="firstChild">
                    <div class="logoPreview">
                        <img src="assets/images/qIcon.png" alt="">
                    </div>
                    <div class="spaceWidth"></div>
                    <div>
                        <div><strong>QryptoBank</strong></div>
                        <div class="EarnNASchedule">
                            <div>Earn N/A</div>
                            <div class="spaceWidth"></div>
                            <div class="schedule">
                                <mat-icon>schedule</mat-icon> 30s
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="hot">HOT</div>
                    <div>View more</div>
                </div>
            </div>
            <div class="spaceHeigh"></div>
            <div class="itemContainer">
                <div class="itemPreview">
                    <div class="iconContainer">
                        <img src="assets/images/previewSocial/discord.svg" alt="">
                    </div>
                    <div class="spaceWidth"></div>
                    <div class="text">Join the Discord</div>
                </div>
                <div class="itemPreview">
                    <div class="iconContainer">
                        <img src="assets/images/previewSocial/twitter.svg" alt="">
                    </div>
                    <div class="spaceWidth"></div>
                    <div class="text">Follow on Twitter</div>
                </div>
                <div class="itemPreview">
                    <div class="iconContainer">
                        <img src="assets/images/previewSocial/facebook.svg" alt="">
                    </div>
                    <div class="spaceWidth"></div>
                    <div class="text">Like on Facebook</div>
                </div>
                <div class="itemPreview">
                    <div class="iconContainer">
                        <img src="assets/images/previewSocial/insta.svg" alt="">
                    </div>
                    <div class="spaceWidth"></div>
                    <div class="text">Follow on Instagram</div>
                </div>
                <div class="itemPreview">
                    <div class="iconContainer">
                        <img src="assets/images/previewSocial/qb.svg" alt="">
                    </div>
                    <div class="spaceWidth"></div>
                    <div class="text">Login to Qryptobank</div>
                </div>

            </div>
        </div>
    </div>
    <div>
        <h2><strong>Preview your ICO</strong></h2>
        <span>AirDrop token | NFT</span>
        <div class="previewContainer">
            <div class="headerPreview">
                <div class="firstChild">
                    <div class="logoPreview">
                        <img src="assets/images/qIcon.png" alt="">
                    </div>
                    <div class="spaceWidth"></div>
                    <div>
                        <div><strong>QryptoBank</strong></div>
                        <div class="EarnNASchedule">
                            <div>Earn N/A</div>
                            <div class="spaceWidth"></div>
                            <div class="schedule">
                                <mat-icon>schedule</mat-icon> 30s
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="hot">HOT</div>
                    <div>View more</div>
                </div>
            </div>
            <div class="spaceHeigh"></div>
            <div class="itemContainer">
                <div class="itemPreview">
                    <div class="iconContainer">
                        1
                    </div>
                    <div class="spaceWidth"></div>
                    <div class="text">Token : <strong> QRB</strong></div>
                </div>
                <div class="itemPreview">
                    <div class="iconContainer">
                        2
                    </div>
                    <div class="spaceWidth"></div>
                    <div class="text">Protocol : <strong> Ethereum</strong></div>
                </div>
                <div class="itemPreview">
                    <div class="iconContainer">
                        3
                    </div>
                    <div class="spaceWidth"></div>
                    <div class="text">Description</div>
                </div>
                <div class="itemPreview">
                    <div class="iconContainer">
                        4
                    </div>
                    <div class="spaceWidth"></div>
                    <div class="text">WhitePaper</div>
                </div>
                <div class="itemPreview">
                    <div class="iconContainer">
                        5
                    </div>
                    <div class="spaceWidth"></div>
                    <div class="text">Sales Dates (Start | End)</div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="section flex center jc-center">
    <div class="CTA CTA1 ">
        List your project
    </div>
</div>
<div class="space"></div>