<div class="space"></div>
<div class="section flex center">
    <div>
        <h2><strong>Preview project</strong></h2>
        <span>AirDrop token | NFT</span>
        <div class="previewContainer">
            <div class="header">
                <div class="logo">
                    <img src="assets/images/qIcon.png" alt="">
                </div>
                <div>
                    <div><strong>QryptoBank</strong></div>
                    <div>
                        <div>Earn N/A</div>
                        <div>
                            <mat-icon>schedule</mat-icon> 30s</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section flex center jc-center">
    <div class="CTA CTA2 ">
        List your project
    </div>
</div>
<div class="space"></div>