<div class="space"></div>
<div class="section flex center previewWrapper">

    <div>
        <h2><strong>Preview project</strong></h2>
        <span>AirDrop token | NFT</span>
        <div class="previewContainer">
            <div class="headerPreview">
                <div class="firstChild">
                    <div class="logoPreview">
                        <img src="assets/images/qIcon.png" alt="">
                    </div>
                    <div class="spaceWidth"></div>
                    <div>
                        <div><strong>Your name</strong></div>
                        <div class="EarnNASchedule">
                            <div>Earn N/A</div>
                            <div class="spaceWidth"></div>
                            <div class="schedule">
                                <mat-icon>schedule</mat-icon> 30s
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="hot">HOT</div>
                    <div>View more</div>
                </div>
            </div>
            <div class="spaceHeigh"></div>
            <div class="itemContainer">
                <div class="itemPreview">
                    <div class="iconContainer">
                        <img src="assets/images/previewSocial/discord.svg" alt="">
                    </div>
                    <div class="spaceWidth"></div>
                    <div class="text">Join your Discord</div>
                </div>
                <div class="itemPreview">
                    <div class="iconContainer">
                        <img src="assets/images/previewSocial/twitter.svg" alt="">
                    </div>
                    <div class="spaceWidth"></div>
                    <div class="text">Follow your Twitter</div>
                </div>
                <div class="itemPreview">
                    <div class="iconContainer">
                        <img src="assets/images/previewSocial/facebook.svg" alt="">
                    </div>
                    <div class="spaceWidth"></div>
                    <div class="text">Like your Facebook page</div>
                </div>
                <div class="itemPreview">
                    <div class="iconContainer">
                        <img src="assets/images/previewSocial/insta.svg" alt="">
                    </div>
                    <div class="spaceWidth"></div>
                    <div class="text">Follow your Instagram</div>
                </div>
                <div class="itemPreview">
                    <div class="iconContainer">
                        <img src="assets/images/previewSocial/www.svg" alt="">
                    </div>
                    <div class="spaceWidth"></div>
                    <div class="text">Visit your website</div>
                </div>

            </div>
        </div>
    </div>
    <div class="spaceWidth"></div>
    <div class="descriptionPreview">
        <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex praesentium quis quam.</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque harum porro corrupti dolor ducimus voluptas tempora deleniti sed architecto! Maiores fugit sit nulla magnam voluptas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim minima
            eligendi unde expedita, perferendis placeat dolorum asperiores natus maxime, rem quod esse cum quos incidunt?
        </p>
    </div>
</div>
<div class="section flex center jc-center">
    <div class="CTA CTA1 ">
        Create my Airdrop for free
    </div>
</div>
<div class="space"></div>